{% extends "auctions/layout.html" %}

{% block body %}
    {% if warning%}
    <div class="alert alert-warning" role="alert">
        {{warning}}
    </div>
    {%endif%}
    
    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        {% for item in form %}
        <div >
            <label for="Name" class="form-label">{{item.label}}</label>
            {{item}}
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Add">
    </form>

 <h5> Transfer all this in django forms and make url optional </h5>
{% endblock %}