{% extends "auctions/layout.html" %}

{% block body %}
   
    {% if data  %}
   
    <div class="container">
        {% for item in data %}
            <div class="item">
                <div class="name"> 
                
                <a href="{% url 'entry' item.name item.id %}"></a>
               
                <h1>{{item}}</h1>
                <hr>
                </div>

                <div class="image">
                  <a href="{% url 'entry' item.name item.id %}">

                    <img id='wishlist-img' src="{{item.image}}" class="rounded mx-auto d-block" alt="">
                 </a>
                </div>

                <div class="data">
                    <h5>Current price: {{item.price}} </h5>
                    <h5>leading bidder: 
                    {% if item.highest_bidder == request.user %} 
                        you 
                    {% else %}
                        {{item.highest_bidder}}
                    {% endif  %}
                    </h5>
            </div>

            <div class="form">
                <form action="{% url 'entry' item.name item.id %}">
                   <input type="submit" value="Know more" class="btn btn-outline-info">
                </form>
            </div>

            </div>
        {% endfor %}
     </div>

     
     
     
     {% else %}
            <h1> No items {% block additional_data %}
                          {% endblock %} 
                
            </h1>
    {% endif %}

{% endblock %}

