{% extends "auctions/layout.html" %}

{% block body %}
     
    {% if not data.sold.status  and  request.user == data.highest_bidder %}
       <div class="alert alert-success" role="alert">
       Congratulations! you won this bid 
      </div>
    {% endif %}


    {% if warning%}
    <div class="alert alert-warning" role="alert">
        {{warning}}
    </div>
    {%endif%}
    <div>
        <div class="entry-title">
                
                {% if not data.sold.status %}
                   <h2>Listing: {{data.name}} ( sold ) </h2>
                {% else  %}
                    {% if wishlist  %}
                     <form action="{% url 'wishlist_del' request.user.username id %}" method="post">
                            {% csrf_token %}
                            <h2>Listing: {{data.name}} <input type="submit" value=" &#11088;" class="wishstart" style="background-color: transparent; border: 0;"></h2>
                    </form>
                       
                    {% else %}
                        
                        <form action="{% url 'wishlist_add' request.user.username id %}" method="post">
                            {% csrf_token %}
                             <h2>Listing: {{data.name}} <input type="submit" value="&star;" class="wishstart" style="background-color: transparent; border: 0;"></h2>
                        </form>
                    
                
                    {% endif %}
                {% endif %}
                
                
            <div class="form">
                {% if  request.user.username == created_by.name.username and data.sold.status  %}
               <form action="{% url 'close' name id %}" method="post" > 
                {% csrf_token %}
                  <input type="submit" value="Close bid" class="btn btn-warning">
               </form>
                {% endif %}
            </div>   
        </div>
        
        <div class="entry-image">
            <img src="{{data.image}}" alt="" style="width: 200px;">
        </div>
        
        <div id="entry-data">
            {{data.description}}
        </div>
        
        <div id="entry-price"> 
            {% if not data.sold.status %}
               <h3> Final price : ${{data.price}}</h3>
            {% elif Bid %}
              <h3>Current bid : ${{data.price}}</h3>
            {% else %}
               <h3>Starting bid : ${{data.price}}</h3>
            {% endif %}
        </div>
        <div class="bid">
            {% if not data.sold.status %}
              <h5> Sold to : {{data.highest_bidder}}</h5>
            {% else %}
            <h5>{{Bid}} Bids so far 
                {% if not highest %}
                   , Start Fresh now !!!
                {% elif user == highest.user %}
                    ,You have the highest bid 
                {% else %}
                  ,{{highest.user}} have the highest bid
               {% endif %}
            {% endif %}
            </h5>
        </div>
        
        {% if data.sold.status %}
        <div class="form">
         <form action="{%url 'entry' name id %}" method="post">
            {%csrf_token%}
            <div class="mb-3">
                <label for="Name" class="form-label">{{form.label}}</label>
                {{bidform}}
            
                <input class="btn btn-primary" type="submit" value="Place">
                </div>
         </form>
        </div>
        {% endif %}
        <div class="details">
            <h4> Details</h4>
            <ul>
                <li> listed by : {{created_by}}</li>
                <li> Category : 
                    {% if category == 'None' %}
                      No categories listed 
                    {% else %}
                      {{category}}
                    {% endif %}

                </li>
            </ul>
        </div>

        
        <div class="comment">
            <h4>
                Comments 
            </h4>
            {% if comments %}
            <ul>
               {% for comment in comments %}
                    <li> <b>{{comment.user}}</b> : {{comment}} </li>
              {% endfor %}
            </ul>
            {% else %}
               <li>No comments</li>
            {% endif %}
            {% if data.sold.status and request.user.is_authenticated %}
            <div class="form" >
                 <form action="{% url 'comment' name id%}" method="post">
                {% csrf_token %}
                <div>
                    {{comform}}
                </div>
                <input type="submit" value="Add" class="btn btn-primary">
            </form>
            </div>
            {% endif %}
        </div>

    </div>
    
    
    
    

{% endblock %}




