{% extends "auctions/layout.html" %}

{% block body %}

 {% if user.is_authenticated %}
    {% if warning%}
    <div class="alert alert-warning" role="alert">
        {{warning}}
    </div>
    {%endif%}
    <div>
        <div class="entry-title">
            <h2>Listing: {{data.name}}</h2>
        </div>
        
        <div class="entry-image">
            <img src="{{data.image}}" alt="" style="width: 200px;">
        </div>
        
        <div id="entry-data">
            {{data.description}}
        </div>
        
        <div> 
            <h3>${{data.price}}</h3>
        </div>
        <div class="bid">
            <h5>{{Bid}} Bids so far {{highest}}</h5>
        </div>

        <div class="form">
        <form action="{%url 'entry' name id %}" method="post">
            {%csrf_token%}
            <div class="mb-3">
                <label for="Name" class="form-label">{{form.label}}</label>
                {{form}}
            
                <input class="btn btn-primary" type="submit" value="Place">
                </div>
            </form>
        </div>
    </div>
    
 {% else %}

    <h1> Plz login to access this page </h1>

 {% endif %}

{% endblock %}




