{% extends "auctions/layout.html" %}

{% block body %}


    {% if warning%}
    <div class="alert alert-warning" role="alert">
        {{warning}}
    </div>
    {%endif%}
    <div>
        <div class="entry-title">
            <h2>Listing: {{data.name}} <br> impliment the logic of closing a bid </h2>

            {% if  request.user.username == created_by.name.username %}
               <form action="{% url 'close' name id %}" method="post"> 
                {% csrf_token %}
                  <input type="submit" value="Close bid" class="btn btn-primary">
               </form>
            {% endif %}
               
        </div>
        
        <div class="entry-image">
            <img src="{{data.image}}" alt="" style="width: 200px;">
        </div>
        
        <div id="entry-data">
            {{data.description}}
        </div>
        
        <div id="entry-price"> 
            {% if Bid %}
              <h3>Current bid : ${{data.price}}</h3>
            {% else %}
               <h3>Starting bid : ${{data.price}}</h3>
            {% endif %}
        </div>
        <div class="bid">
            <h5>{{Bid}} Bids so far
                {% if not highest %}
                   
                {% elif user == highest.user %}
                    ,You have the highest bid 
                {% else %}
                  ,{{highest.user}} have the highest bid
                {% endif %}
            </h5>
        </div>

        <div class="form">
         <form action="{%url 'entry' name id %}" method="post">
            {%csrf_token%}
            <div class="mb-3">
                <label for="Name" class="form-label">{{form.label}}</label>
                {{form}}
            
                <input class="btn btn-primary" type="submit" value="Place">
                </div>
         </form>
        </div>

        <div class="details">
            <h4> Details</h4>
            <ul>
                <li> listed by : {{created_by}}</li>
                <li> Category : 
                    {% if category == 'None' %}
                      No categories listed 
                    {% else %}
                      {{category}}
                    {% endif %}

                </li>
            </ul>

        </div>
    </div>
    

{% endblock %}




