{% extends "auctions/layout.html" %}

{% block body %}
<div id="Active_Listings">
    <h2>Active Listings </h2>
</div>
    

{% if listings %}
{% for listing in listings %}  

    <table class="Listings">
        <thead>
            <tr>
                <th ></th>
                <th></th> 
            </tr>
        </thead>
        <tr>
            <td><img class='image' src="{{listing.image}}" alt=""></td>
            <td>
                <div class="content">
                    <h2><a href="{% url 'entry' listing.name listing.id%}">{{listing.name}}</a></h2>
                    <h4 class="price">Price: ${{listing.price}}</h4>
                    <form action="{%url 'entry' listing.name listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Know more">
                    </form>
                    <p class="date"> Created on : {{listing.created_on}}</p>
                </div>

            </td>
        </tr>
        
        

    </table>
    
    

{%endfor%}

{%else%}
 <h1 style="margin-top: 10%; color: yellow;"> NO listings </h1>
{%endif%}

{% endblock %}